Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"

Integrate `x/poa` with `x/evm`
  app/app.go
  x/evm/types/interfaces.go
  x/poa/keeper/historical_info.go
  x/poa/types/historical_info.go
Labels: none

Use `x/evm` module account as authority for other modules
  app/app.go
Labels: none

Adjust Cosmos export state command
  app/export.go
  x/poa/types/genesis.go
Labels: none

Remove an import cycle in the `x/poa` module
  app/export.go
  x/poa/keeper/genesis.go
  x/poa/types/genesis.go
Labels: none

Adjust the `add-genesis-account` command
  cmd/evmosd/genaccounts.go
Labels: none

Remove `AuthzLimiterDecorator` from Ante handlers
  app/ante/cosmos/authz.go
  app/ante/cosmos/authz_test.go
  app/ante/handler_options.go
Labels: none

Fix unit tests for the `app/ante` package
  app/ante/cosmos/fees_test.go
  app/ante/cosmos/setup_test.go
  app/ante/evm/ante_test.go
  app/ante/evm/eth_test.go
  app/ante/evm/setup_test.go
  app/ante/evm/utils_test.go
  app/ante/handler_options_test.go
  app/ante/integration_test.go
  app/ante/utils/setup_test.go
  app/ethtest_helper.go
  app/test_helpers.go
  testutil/fund.go
  testutil/staking-rewards.go
Labels: none

Fix unit tests for the `ethereum/eip712` package
  ethereum/eip712/eip712_test.go
Labels: none

Fix unit tests for the `x/evm` package
  x/evm/handler_test.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/setup_test.go
  x/evm/keeper/state_transition_test.go
  x/poa/keeper/historical_info.go
  x/poa/keeper/keeper.go
Labels: none

Fix unit tests for the `x/feemarket` package
  x/feemarket/keeper/msg_server_test.go
  x/feemarket/keeper/utils_test.go
Labels: none

Fix unit tests for the `tests/e2e/upgrade` package
  tests/e2e/upgrade/params_test.go
  tests/e2e/upgrade/utils_test.go
Labels: Type: Tests

Fix unit tests for the `precompile/btctoken` package
  precompile/btctoken/total_supply_test.go
Labels: none

Remove e2e tests for now
  .github/workflows/e2e-test-release.yml
  .github/workflows/e2e-test.yml
  Makefile
  tests/e2e/Dockerfile.repo
  tests/e2e/README.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/init-node.sh
  tests/e2e/upgrade/Dockerfile.init
  tests/e2e/upgrade/constants.go
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/node.go
  tests/e2e/upgrade/params.go
  tests/e2e/upgrade/params_test.go
  tests/e2e/upgrade/queryexec.go
  tests/e2e/upgrade/utils.go
  tests/e2e/upgrade/utils_test.go
  tests/e2e/utils.go
Labels: Type: Build, Type: CI, Type: Tests

Added TODOs
  ethereum/ethereum.go
Labels: none

Make Go linter happy
  app/ante/cosmos/fees.go
  app/ante/cosmos/fees_test.go
  app/ante/cosmos/utils_test.go
  app/ante/evm/ante_test.go
  app/ante/evm/eth.go
  app/ante/evm/setup_test.go
  app/ante/evm/utils_test.go
  app/ante/handler_options_test.go
  app/ante/integration_test.go
  app/ante/utils/setup_test.go
  app/app.go
  app/app_test.go
  app/ethtest_helper.go
  app/test_helpers.go
  cmd/evmosd/genaccounts.go
  testutil/fund.go
  x/evm/handler_test.go
  x/evm/keeper/setup_test.go
  x/evm/keeper/state_transition_test.go
  x/feemarket/keeper/utils_test.go
  x/poa/keeper/historical_info.go
  x/poa/types/historical_info.go
Labels: none

Remove Solhint and Slither CI jobs
  .github/workflows/slither.yml
  .github/workflows/solhint.yml
Labels: Type: CI

Simplifying metadata functions by bypassing bankKeeper
  precompile/btctoken/abi.json
  precompile/btctoken/matadata_test.go
  precompile/btctoken/metadata.go
Labels: none

Linting by removing unused context param
  precompile/btctoken/metadata.go
Labels: none

Removing bankKeeper as it is not needed anymore in metadata.go
  precompile/btctoken/btctoken.go
  precompile/btctoken/metadata.go
Labels: none

Linting
  precompile/btctoken/metadata.go
Labels: none

Fix error in docker-compose
  docker-compose.yml
Labels: Type: Build

Adjust single-node localnet script
  cmd/evmosd/root.go
  local_node.sh
  x/poa/client/cli/flags.go
  x/poa/client/cli/genval.go
Labels: C:CLI

Adjust multi-node localnet script
  cmd/evmosd/root.go
  cmd/evmosd/testnet.go
  networks/local/evmos/Dockerfile
  scripts/start-docker.sh
Labels: Type: Build

Renamed localnet docker targets
  Makefile
  docs/development.md
Labels: Type: Build, Type: Docs

Configure Docker linter to ignore apt-get non-pinned versions
  .hadolint.yaml
Labels: none

Drafting a precompile approve() method
  app/app.go
  precompile/btctoken/approve.go
  precompile/btctoken/btctoken.go
  precompile/btctoken/matadata_test.go
  precompile/btctoken/total_supply_test.go
Labels: none

Configure Docker linter to ignore more checks around apt-get
  .hadolint.yaml
Labels: none

Fix grammar error
  scripts/public-testnet.sh
Labels: Type: Build

Added binary-based localnet targets to makefile
  Makefile
Labels: Type: Build

Bring back `x/authz` and `AuthzLimiterDecorator` Ante handler
  app/ante/cosmos/authz.go
  app/ante/cosmos/authz_test.go
  app/ante/cosmos/utils_test.go
  app/ante/handler_options.go
  app/app.go
Labels: none

Protobuf for historical info
  proto/evmos/poa/v1/poa.proto
  x/poa/types/genesis.pb.go
  x/poa/types/historical_info.go
  x/poa/types/poa.pb.go
  x/poa/types/query.pb.go
  x/poa/types/tx.pb.go
Labels: C:Proto

Implement `GetHistoricalInfo` in the PoA keeper
  x/poa/keeper/historical_info.go
  x/poa/types/key.go
Labels: none

Implement `SetHistoricalInfo` in the PoA keeper
  x/evm/keeper/state_transition_test.go
  x/poa/keeper/historical_info.go
Labels: none

Added script for initiating binary-based localnet config
  scripts/localnet-start.sh
  scripts/localnet.sh
Labels: Type: Build

Updated .gitignore
  .gitignore
Labels: none

Implement historical info tracking
  x/poa/keeper/abci.go
  x/poa/keeper/historical_info.go
  x/poa/keeper/validator.go
  x/poa/module.go
  x/poa/types/historical_info.go
  x/poa/types/params.go
Labels: none

Unit tests for historical info
  x/poa/keeper/historical_info.go
  x/poa/keeper/historical_info_test.go
  x/poa/keeper/keeper.go
  x/poa/types/historical_info.go
  x/poa/types/key.go
Labels: none

Remove some `x/gov` leftovers
  precompile/btctoken/total_supply_test.go
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/tx.proto
  proto/evmos/poa/v1/tx.proto
  testutil/integration.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/types/errors.go
  x/evm/types/params_legacy.go
  x/evm/types/tx.pb.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/msg_server.go
  x/feemarket/types/errors.go
  x/feemarket/types/msg_test.go
  x/feemarket/types/tx.pb.go
  x/poa/keeper/params.go
  x/poa/types/errors.go
  x/poa/types/tx.pb.go
Labels: C:Proto

Make protolint happy
  proto/evmos/poa/v1/poa.proto
Labels: C:Proto

Introduce the configurable validator pool owner
  app/app.go
  proto/evmos/poa/v1/genesis.proto
  x/evm/keeper/state_transition_test.go
  x/feemarket/keeper/utils_test.go
  x/poa/keeper/genesis.go
  x/poa/keeper/keeper.go
  x/poa/keeper/keeper_test.go
  x/poa/keeper/owner.go
  x/poa/keeper/params.go
  x/poa/types/errors.go
  x/poa/types/genesis.go
  x/poa/types/genesis.pb.go
  x/poa/types/key.go
  x/poa/types/poa.pb.go
Labels: C:Proto
