Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

Rework unit tests for x/bridge `ProposalHandler`
  x/bridge/abci/proposal_test.go
Labels: none

Unit tests for x/bridge `ProcessProposal` handler
  x/bridge/abci/proposal_test.go
Labels: none

Adjust unit tests for both app-level and x/bridge `VoteExtensionHandler`
  app/abci/vote_extension_test.go
  x/bridge/abci/vote_extension_test.go
Labels: none

Unit tests for new `AssetsLockedEvents` methods
  x/bridge/types/assets_locked_test.go
Labels: none

Unit tests covering changes in the x/poa module
  x/poa/keeper/validator.go
  x/poa/keeper/validator_test.go
Labels: none

Satisfy linters by removing redundant empty line from `assets_locked_test.go`
  x/bridge/types/assets_locked_test.go
Labels: none

Satisfy linters by removing redundant empty line from `proposal_test.go`
  x/bridge/abci/proposal_test.go
Labels: none

Makefile adjustments
  Makefile
Labels: Type: Build

Kubernetes artifacts update
  infrastructure/kubernetes/mezo-staging/mezo-genesis-config.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-4.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-config.yaml
Labels: none

Improve docstring of the `ValidatorPrivilege` constant
  x/bridge/types/interfaces.go
Labels: none

Updating Mezo Portal bindings - contracts on Sepolia
  Makefile
  ethereum/bindings/common/gen/Makefile
  ethereum/bindings/portal/gen/Makefile
  ethereum/bindings/portal/gen/_address/BitcoinBridge
  ethereum/bindings/portal/gen/_address/Portal
  ethereum/bindings/portal/gen/abi/BitcoinBridge.go
  ethereum/bindings/portal/gen/abi/Portal.go
  ethereum/bindings/portal/gen/contract/BitcoinBridge.go
  ethereum/bindings/portal/gen/contract/Portal.go
  go.mod
  go.sum
Labels: Type: Build

Added a TODO
  ethereum/sidecar/client.go
Labels: none

Removing Portal contract bindings
  ethereum/bindings/portal/gen/Makefile
  ethereum/bindings/portal/gen/_address/Portal
  ethereum/bindings/portal/gen/abi/Portal.go
  ethereum/bindings/portal/gen/contract/Portal.go
Labels: none

Fixing gen.go file
  ethereum/bindings/portal/gen/gen.go
Labels: none

Replacing Portal contract instance with BitcoinBridge contract instance
  ethereum/portal.go
Labels: none

Properly handle app-level proposal handler failure in the VE handler
  app/abci/vote_extension.go
  app/abci/vote_extension_test.go
Labels: none

Remove `.clang-format` file
  .clang-format
Labels: none

Remove `.gitleaks` file
  .gitleaks.toml
Labels: none

Remove `.gitpod` file
  .gitpod.yml
Labels: none

Remove `.mergify` file
  .mergify.yml
Labels: Type: CI

Removing network specific address
  ethereum/bindings/portal/gen/_address/BitcoinBridge
Labels: none

Remove `.sempgrep` file
  .semgrepignore
Labels: none

Remove `.solhint` file
  .solhint.json
Labels: none

Remove `gometalinter.json` file
  gometalinter.json
Labels: none

Remove `init.bat` file
  init.bat
Labels: none

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"
