Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

Fix `x/evm` tests
  x/evm/genesis_test.go
  x/evm/keeper/abci_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/setup_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
Labels: none

Adjust the TestMezoExport to the ABCI changes
  app/app_test.go
Labels: none

Bump Go version for golangci-lint CI job
  .github/workflows/lint.yml
Labels: Type: CI

Removing ApproveAndCall
  precompile/btctoken/abi.json
  precompile/btctoken/solidity/IApproveAndCall.sol
  precompile/btctoken/solidity/IERC20WithPermit.sol
Labels: none

Removing redundant Transfer event
  precompile/btctoken/transfer.go
Labels: none

Deleting IApproveAndCall.sol file
  precompile/btctoken/solidity/IApproveAndCall.sol
Labels: none

Add validator pool write methods to precompile hardhat tasks
  precompile/validatorpool/hardhat/hardhat.config.ts
  precompile/validatorpool/hardhat/scripts/localhost-keys.ts
Labels: none

Rename precompile hardhat var to `MEZO_ACCOUNTS`
  precompile/validatorpool/hardhat/README.md
  precompile/validatorpool/hardhat/hardhat.config.ts
Labels: none

Move hardhat tasks to `precompile`
  precompile/hardhat/.gitignore
  precompile/hardhat/README.md
  precompile/hardhat/hardhat.config.ts
  precompile/hardhat/package-lock.json
  precompile/hardhat/package.json
  precompile/hardhat/scripts/accounts.ts
  precompile/hardhat/scripts/localhost-keys.ts
  precompile/hardhat/tasks/btctoken.ts
  precompile/hardhat/tasks/validatorPool.ts
  precompile/hardhat/tsconfig.json
  precompile/validatorpool/hardhat/hardhat.config.ts
Labels: none

Update `precompile/hardhat/README.md`
  precompile/hardhat/README.md
Labels: none

Update `BUILD_DIR` in `precompile/hardhat/scripts/localhost-keys`
  precompile/hardhat/scripts/localhost-keys.ts
Labels: none

Cleanup `precompile/hardhat` & lint
  precompile/hardhat/README.md
  precompile/hardhat/hardhat.config.ts
  precompile/hardhat/package-lock.json
  precompile/hardhat/package.json
  precompile/hardhat/tasks/btctoken.ts
  precompile/hardhat/tasks/validatorPool.ts
Labels: none

Add `eslintConfig` to `precompile/hardhat/package.json`
  precompile/hardhat/package.json
Labels: none

Add `include` to `precompile/hardhat/tsconfig.json`
  precompile/hardhat/tsconfig.json
Labels: none

Create `tsconfig.json` in root dir
  tsconfig.json
Labels: none

Fix remaining `ts-standard` linting issues in `precompile/hardhat`
  precompile/hardhat/scripts/accounts.ts
  precompile/hardhat/scripts/localhost-keys.ts
Labels: none

Removing mint method
  precompile/btctoken/abi.json
  precompile/btctoken/btctoken.go
  precompile/btctoken/mint.go
  precompile/btctoken/solidity/IERC20WithPermit.sol
Labels: none

Introducing storage extension for BTC precompile
  x/evm/types/key.go
Labels: none

Trigger `servergrpc.StartGRPCServer` in a separate goroutine
  server/start.go
  testutil/network/util.go
Labels: none

Building domain separator in the constructor method function
  app/app.go
  app/test_helpers.go
  precompile/btctoken/allowance_test.go
  precompile/btctoken/approve_test.go
  precompile/btctoken/btctoken.go
  precompile/btctoken/metadata_test.go
  precompile/btctoken/permit.go
  precompile/btctoken/permit_test.go
  precompile/btctoken/total_supply_test.go
  precompile/btctoken/transfer_test.go
Labels: none

Fixing existing tests and linting
  app/app_test.go
  app/ethtest_helper.go
  app/test_helpers.go
  precompile/btctoken/permit.go
  testutil/network/network.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/utils_test.go
Labels: none

Ignoring existing lint issues to make it happy
  app/app.go
Labels: none

Set correct `precompileAddress` for `btctoken` hardhat tasks
  precompile/hardhat/tasks/btctoken.ts
  precompile/hardhat/tsconfig.json
Labels: none

Update `precompile/hardhat/README.md`
  precompile/hardhat/README.md
Labels: none

Add `Localnet` section to hardhat tasks `README.md`
  precompile/hardhat/README.md
Labels: none

Add `transientStorage` to `stateObject` in `x/evm`
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
Labels: none

Tidy up the go mod
  go.mod
Labels: none

Fix error message in genval command
  x/poa/client/cli/genval.go
Labels: C:CLI

Fix failing test after conflicts resolution
  precompile/btctoken/permit_test.go
Labels: none

Satisfy golangci-lint
  app/ante/cosmos/authz.go
  app/tps_counter_test.go
  testutil/abci.go
Labels: none

Use `x/consensus` keeper in `EstimateGas` for consensus params
  app/app.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
Labels: none

Use an interface for consensus keeper in `x/evm`
  app/app.go
  x/evm/keeper/keeper.go
  x/evm/types/interfaces.go
Labels: none

Fix RPC gas estimations for precompile methods
  x/evm/keeper/grpc_query.go
  x/evm/types/call.go
Labels: none

Update gas fixes for Cosmos SDK 0.50.x compatibility
  x/evm/keeper/grpc_query.go
  x/evm/types/interfaces.go
Labels: none

Remove gasLimit workaround for hardhat tasks
  precompile/hardhat/tasks/validatorPool.ts
Labels: none

Disable dependabot
  .github/dependabot.yml
Labels: Type: CI

Clean up `ConsensusKeeper` interface in `x/evm`
  precompile/hardhat/hardhat.config.ts
  precompile/hardhat/tasks/validatorpool.ts
  x/evm/keeper/grpc_query.go
  x/evm/types/interfaces.go
Labels: none

Clean up `StateDB.Commit()`
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
Labels: none

Reading ChainID from the baseapp settings
  app/app.go
  app/app_test.go
  app/ethtest_helper.go
  app/test_helpers.go
  testutil/network/network.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/utils_test.go
Labels: none

Using store extention for nonce storage
  precompile/btctoken/permit.go
  x/evm/keeper/statedb.go
Labels: none

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"
