Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"

Updated Go version to 1.21 in GiHub actions
  .github/workflows/dependencies.yml
  app/app.go
Labels: Type: CI

Dependency fixes
  app/app.go
  go.mod
  go.sum
Labels: none

Temporarily disabled vulncheck workflow
  .github/workflows/dependencies.yml
Labels: Type: CI

Changes to start CI
  app/app.go
  app/app_test.go
Labels: none

Revert "Merge pull request #132 from thesis/dualstaking-module"
  app/app.go
  proto/evmos/dualstaking/v1/genesis.proto
  proto/evmos/dualstaking/v1/query.proto
  proto/evmos/dualstaking/v1/tx.proto
  testutil/keeper/dualstaking.go
  x/dualstaking/client/cli/query.go
  x/dualstaking/client/cli/tx.go
  x/dualstaking/genesis.go
  x/dualstaking/genesis_test.go
  x/dualstaking/keeper/keeper.go
  x/dualstaking/keeper/msg_server.go
  x/dualstaking/keeper/msg_server_test.go
  x/dualstaking/keeper/params.go
  x/dualstaking/keeper/params_test.go
  x/dualstaking/keeper/query_server.go
  x/dualstaking/keeper/query_server_test.go
  x/dualstaking/module.go
  x/dualstaking/types/codec.go
  x/dualstaking/types/errors.go
  x/dualstaking/types/genesis.go
  x/dualstaking/types/genesis.pb.go
  x/dualstaking/types/genesis_test.go
  x/dualstaking/types/keys.go
  x/dualstaking/types/params.go
  x/dualstaking/types/query.pb.go
  x/dualstaking/types/query.pb.gw.go
  x/dualstaking/types/tx.pb.go
  x/dualstaking/types/types.go
Labels: C:Proto, C:CLI

proto: ignore deleted dualstaking proto files (closes #173)
  proto/buf.yaml
Labels: C:Proto

proto/buf: add new line at end of file
  proto/buf.yaml
Labels: C:Proto

Adjust `AppModule` and `AppModuleBasic` implementations in `x/poa` module
  x/poa/module.go
Labels: none

Create Protobuf files for `x/poa` module
  proto/evmos/poa/v1/genesis.proto
  proto/evmos/poa/v1/poa.proto
  proto/evmos/poa/v1/query.proto
  proto/evmos/poa/v1/tx.proto
Labels: C:Proto

Adjust `x/poa/types` package
  x/poa/types/codec.go
  x/poa/types/expected_keepers.go
  x/poa/types/genesis.go
  x/poa/types/genesis.pb.go
  x/poa/types/msg.go
  x/poa/types/params.go
  x/poa/types/poa.pb.go
  x/poa/types/query.pb.go
  x/poa/types/query.pb.gw.go
  x/poa/types/tx.pb.go
  x/poa/types/validator.go
  x/poa/types/vote.go
Labels: none

Adjust `x/poa/keeper` package
  proto/evmos/poa/v1/query.proto
  x/poa/handler.go
  x/poa/handler_test.go
  x/poa/keeper/application.go
  x/poa/keeper/application_test.go
  x/poa/keeper/keeper.go
  x/poa/keeper/kick_proposal.go
  x/poa/keeper/kick_proposal_test.go
  x/poa/keeper/msg_server.go
  x/poa/keeper/params.go
  x/poa/keeper/querier.go
  x/poa/keeper/query_server.go
  x/poa/keeper/validator.go
  x/poa/keeper/validator_test.go
  x/poa/types/params.go
  x/poa/types/query.pb.go
  x/poa/types/validator.go
  x/poa/types/vote.go
Labels: C:Proto

Move `EndBlocker` to the `x/poa/keeper` package
  x/poa/keeper/abci.go
  x/poa/keeper/abci_test.go
  x/poa/keeper/validator.go
  x/poa/module.go
Labels: none

Adjust `x/poa/client` package
  x/poa/client/cli/flags.go
  x/poa/client/cli/query.go
  x/poa/client/cli/tx.go
  x/poa/client/rest/query.go
  x/poa/client/rest/rest.go
  x/poa/client/rest/tx.go
  x/poa/module.go
  x/poa/types/msg.go
  x/poa/types/querier.go
Labels: C:CLI

Adjust `x/poa` root package
  x/poa/keeper/application_test.go
  x/poa/keeper/genesis.go
  x/poa/keeper/genesis_test.go
  x/poa/keeper/kick_proposal_test.go
  x/poa/keeper/msg_server.go
  x/poa/keeper/params.go
  x/poa/keeper/validator_test.go
  x/poa/module.go
  x/poa/types/genesis.go
Labels: none

Remove the `test_utils.go` file from root `x/poa`
  x/poa/keeper/abci_test.go
  x/poa/keeper/application_test.go
  x/poa/keeper/genesis_test.go
  x/poa/keeper/keeper_test.go
  x/poa/keeper/kick_proposal.go
  x/poa/keeper/kick_proposal_test.go
  x/poa/keeper/validator_test.go
  x/poa/test_utils.go
  x/poa/types/vote_test.go
Labels: none

Make formatter happy
  x/poa/client/cli/flags.go
  x/poa/client/cli/tx.go
  x/poa/keeper/abci_test.go
  x/poa/keeper/genesis_test.go
  x/poa/keeper/keeper.go
  x/poa/keeper/keeper_test.go
  x/poa/keeper/kick_proposal.go
  x/poa/keeper/msg_server.go
  x/poa/keeper/params.go
  x/poa/keeper/query_server.go
  x/poa/module.go
  x/poa/types/codec.go
  x/poa/types/msg.go
  x/poa/types/validator.go
  x/poa/types/vote.go
  x/poa/types/vote_test.go
Labels: C:CLI

Make linters happy
  x/poa/client/cli/query.go
  x/poa/client/cli/tx.go
  x/poa/keeper/application_test.go
  x/poa/keeper/genesis_test.go
  x/poa/keeper/keeper_test.go
  x/poa/keeper/kick_proposal_test.go
  x/poa/keeper/msg_server.go
  x/poa/keeper/query_server.go
  x/poa/keeper/validator_test.go
  x/poa/module.go
  x/poa/types/errors.go
  x/poa/types/msg.go
  x/poa/types/validator.go
  x/poa/types/vote.go
  x/poa/types/vote_test.go
Labels: C:CLI

Exclude `dupl` and `nolintlint` checks from linter's config
  .golangci.yml
Labels: Type: CI

Enabled binding generation in makefile
  .gitignore
  Makefile
  ethereum/bindings/common/gen/Makefile
  ethereum/bindings/portal/gen/Makefile
  ethereum/bindings/portal/gen/_address/.keep
  ethereum/bindings/portal/gen/_address/Portal
  ethereum/bindings/portal/gen/abi/.keep
  ethereum/bindings/portal/gen/contract/.keep
  ethereum/bindings/portal/gen/gen.go
  go.mod
  go.sum
Labels: Type: Build

Generated bindings for the Portal contract
  ethereum/bindings/portal/gen/_address/Portal
  ethereum/bindings/portal/gen/abi/Portal.go
  ethereum/bindings/portal/gen/contract/Portal.go
Labels: none

Added `bindings` target in the makefile
  Makefile
Labels: Type: Build

Create module directories for the new `x/bridge` module
  x/bridge/client/cli/query.go
  x/bridge/genesis.go
  x/bridge/keeper/keeper.go
  x/bridge/module.go
  x/bridge/types/codec.go
Labels: C:CLI

Create protobuf place-holder file for the new `x/bridge` module
  proto/evmos/bridge/v1/events.proto
Labels: C:Proto

Add basic protobuf definitions for the `x/bridge` module
  proto/evmos/bridge/v1/events.proto
  proto/evmos/bridge/v1/genesis.proto
  proto/evmos/bridge/v1/query.proto
  proto/evmos/bridge/v1/tx.proto
Labels: C:Proto

Module scaffolding for the `x/bridge` module
  testutil/keeper/bridge.go
  x/bridge/client/cli/query.go
  x/bridge/client/cli/tx.go
  x/bridge/genesis.go
  x/bridge/genesis_test.go
  x/bridge/keeper/keeper.go
  x/bridge/keeper/msg_server.go
  x/bridge/keeper/msg_server_test.go
  x/bridge/keeper/params.go
  x/bridge/keeper/params_test.go
  x/bridge/keeper/query_server.go
  x/bridge/keeper/query_server_test.go
  x/bridge/module.go
  x/bridge/types/codec.go
  x/bridge/types/errors.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis.pb.go
  x/bridge/types/genesis_test.go
  x/bridge/types/keys.go
  x/bridge/types/params.go
  x/bridge/types/query.pb.go
  x/bridge/types/query.pb.gw.go
  x/bridge/types/tx.pb.go
  x/bridge/types/types.go
Labels: C:CLI

Add new `x/bridge` module to the Cosmos app
  app/app.go
Labels: none

Lint the `x/bridge` module with `golangci-lint`
  x/bridge/client/cli/query.go
  x/bridge/client/cli/tx.go
  x/bridge/genesis.go
  x/bridge/keeper/msg_server_test.go
  x/bridge/keeper/params.go
  x/bridge/module.go
  x/bridge/types/codec.go
  x/bridge/types/genesis.go
  x/bridge/types/query.pb.gw.go
Labels: C:CLI

No-op `RegisterServices` function in the `x/bridge` module
  x/bridge/module.go
Labels: none

Fix the import order in the `x/bridge` modules `genesis.proto`
  proto/evmos/bridge/v1/genesis.proto
Labels: C:Proto

Added package tools
  go.mod
  go.sum
  tools/tools.go
Labels: none

Minor improvements to binding generation
  Makefile
  tools/tools.go
Labels: Type: Build

Make proto-lint happy
  proto/evmos/poa/v1/genesis.proto
  proto/evmos/poa/v1/poa.proto
  proto/evmos/poa/v1/query.proto
  proto/evmos/poa/v1/tx.proto
Labels: C:Proto

Make markdownlint happy
  x/poa/spec/01_state.md
  x/poa/spec/02_messages.md
  x/poa/spec/04_events.md
  x/poa/spec/05_params.md
  x/poa/spec/README.md
Labels: Type: Docs

Make markdownlint happy - part two
  x/poa/README.md
Labels: none

Temporarily force markdownlint to ignore `docs/development` and `infrastructure`
  .markdownlintignore
Labels: none

Remove unused `RouterKey` and `QuerierRoute` keys
  x/poa/types/key.go
Labels: none

Adding ERC20 interface for a precompiled token
  precompile/btctoken/IApproveAndCall.sol
  precompile/btctoken/IERC20.sol
  precompile/btctoken/IERC20Metadata.sol
  precompile/btctoken/IERC20WithPermit.sol
  precompile/btctoken/abi.json
Labels: none

Replace `x/staking` with `x/poa` in `app.go`
  app/app.go
Labels: none

Drafting totalSupply method as defined in IERC20 interface
  precompile/btctoken/btctoken.go
  precompile/btctoken/supply.go
Labels: none

Removing burn functions and adding todo to revisit later
  precompile/btctoken/IERC20WithPermit.sol
Labels: none
