Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"

Replace testnet genesis
  infrastructure/kubernetes/mezo-staging/mezo-genesis-config.yaml
Labels: none

Replace nodes IDs
  infrastructure/kubernetes/mezo-staging/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-4.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-config.yaml
Labels: none

Disable `gitleaks` check
  .github/workflows/super-linter.yml
Labels: Type: CI

Satisfy `yamllint` linter
  .yamllint
  infrastructure/helm/mezo-staging/postgresql-values.yaml
  infrastructure/kubernetes/mezo-staging/mezo-genesis-config.yaml
Labels: none

Satisfy `shellcheck` linter
  .shellcheckrc
  scripts/public-testnet.sh
Labels: Type: Build

Remove problematic `ignore` from `.yamllint`
  .yamllint
Labels: none

RFC-3: Bridging non-Bitcoin assets to Mezo
  docs/rfc/rfc-3.md
Labels: Type: Docs

Drafting foundations for the transfer and transferFrom methods
  precompile/btctoken/btctoken.go
  precompile/btctoken/transfer.go
Labels: none

Bump up cosmos-sdk to 0.47.13
  go.mod
  go.sum
Labels: none

Drafting a BTC precompile transferFrom method
  precompile/btctoken/transfer.go
Labels: none

Replace `cosmos-sdk/simapp` with `cosmossdk.io/simapp`
  app/ante/cosmos/setup_test.go
  app/ante/evm/setup_test.go
  app/ante/utils/setup_test.go
  app/app.go
  app/app_test.go
  app/ethtest_helper.go
  app/export.go
  app/test_helpers.go
  cmd/evmosd/root.go
  encoding/config.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
  go.mod
  go.sum
  indexer/kv_indexer_test.go
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
  testutil/network/network.go
  x/evm/handler_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/setup_test.go
  x/feemarket/keeper/utils_test.go
Labels: Type: Tests

Replace `cosmos-sdk/pruning` with `cosmos-sdk/store/pruning`
  server/start.go
  testutil/network/network.go
Labels: none

Replace `cosmos-sdk/server/rosetta` with `cosmossdk.io/tools/rosetta`
  server/start.go
Labels: none

Tidy go.mod after fixing problems with packages
  go.mod
  go.sum
Labels: none

Drafting some integration tests for the transfer method
  precompile/btctoken/transfer_test.go
Labels: none

Added a test for a successful path of the transfer method.
  precompile/btctoken/transfer_test.go
Labels: none

Adding tests for 'transferFrom' method
  precompile/btctoken/transfer.go
  precompile/btctoken/transfer_test.go
Labels: none

Adding tests for the Transfer event
  precompile/btctoken/mint.go
  precompile/btctoken/transfer.go
  precompile/btctoken/transfer_test.go
Labels: none

Exporting TransferEvent struct
  precompile/btctoken/transfer.go
Labels: none

Replace `tendermint/tm-db` with `cometbft/cometbft-db`
  app/app.go
  app/app_test.go
  app/ethtest_helper.go
  app/test_helpers.go
  cmd/evmosd/root.go
  crypto/keyring/options.go
  go.mod
  go.sum
  indexer/kv_indexer.go
  indexer/kv_indexer_test.go
  rpc/backend/backend_suite_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info_test.go
  scripts/statesync.bash
  scripts/statesync.sh
  server/start.go
  testutil/keeper/bridge.go
  testutil/network/network.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/utils_test.go
  x/poa/keeper/keeper_test.go
Labels: Type: Build

Replace `gogo/protobuf` with `cosmos/gogoproto`
  Makefile
  go.mod
  go.sum
  proto/buf.lock
  proto/buf.yaml
  scripts/proto-tools-installer.sh
  scripts/protocgen.sh
Labels: C:Proto, Type: Build

Re-generate protobufs
  CONTRIBUTING.md
  crypto/ethsecp256k1/keys.pb.go
  testutil/contract.go
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/bridge/types/genesis.pb.go
  x/bridge/types/query.pb.go
  x/bridge/types/query.pb.gw.go
  x/bridge/types/tx.pb.go
  x/evm/handler_test.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v5/types/evm.pb.go
  x/evm/types/codec.go
  x/evm/types/events.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/evm/types/tx.pb.go
  x/evm/types/tx.pb.gw.go
  x/evm/types/utils.go
  x/evm/types/utils_test.go
  x/feemarket/migrations/v4/types/feemarket.pb.go
  x/feemarket/types/events.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
  x/feemarket/types/query.pb.gw.go
  x/feemarket/types/tx.pb.go
  x/poa/types/genesis.pb.go
  x/poa/types/poa.pb.go
  x/poa/types/query.pb.go
Labels: C:Types

Apply Cosmos 0.47.x `app.go` changes around modules
  app/app.go
Labels: none

Remove legacy SDK message machinery
  app/app.go
  x/bridge/module.go
  x/bridge/types/keys.go
  x/evm/module.go
  x/evm/types/key.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
  x/feemarket/module.go
  x/feemarket/types/keys.go
  x/feemarket/types/msg.go
  x/poa/module.go
Labels: none

Use `golang.org/x/exp` version compatible with Cosmos 0.47.x
  go.mod
  go.sum
Labels: none

Add `rpcclient.Client` type assertion to `clientCtx.Client` where applicable
  rpc/namespaces/ethereum/net/api.go
  server/start.go
Labels: none

Replace deprecated `--algo` flag with `--key-type`
  client/keys/add.go
  init.bat
  local_node.sh
  scripts/integration-test-all.sh
Labels: Type: Build, C:CLI

Remove references to non-existing `keys.KeysCdc` global variable
  client/keys/add.go
  client/keys/utils.go
  crypto/codec/amino.go
Labels: C:CLI

Use empty allow list in `NewSendAuthorization`
  precompile/btctoken/approve.go
Labels: none

Adjust expected `BankKeeper` interface for `authante.DeductFees` function
  app/ante/cosmos/interfaces.go
Labels: none

Removing unnecessary comments
  precompile/btctoken/transfer.go
Labels: none

Adjust `fillTxAttribute` to new `abci.EventAttribute`
  rpc/types/events.go
  rpc/types/utils.go
Labels: none

Align transferFrom with transfer method for amount value
  precompile/btctoken/transfer.go
Labels: none

Adjust `rpc` package to `clientCtx.Client` changes
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/chain_info.go
  rpc/backend/tx_info.go
  rpc/backend/utils.go
  rpc/types/utils.go
Labels: none

extracted common code between transfer and transferFrom methods
  precompile/btctoken/transfer.go
Labels: none

Adjustments in testutils
  app/ethtest_helper.go
  app/test_helpers.go
  client/keys.go
  client/testnet.go
  testutil/network/network.go
  testutil/network/util.go
Labels: C:CLI

Adjustments in cmd
  cmd/evmosd/root.go
  cmd/evmosd/testnet.go
Labels: none

Adding tests to check zero amount transfer
  precompile/btctoken/transfer_test.go
Labels: none

Add missing `AppModuleBasic` for the new `x/consensus` module
  app/app.go
Labels: none

Fix broken unit tests
  app/ante/cosmos/authz_test.go
  app/app_test.go
  cmd/evmosd/cmd_test.go
  indexer/kv_indexer_test.go
  precompile/btctoken/approve_test.go
  rpc/backend/blocks_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/client_test.go
  rpc/backend/mocks/client.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info_test.go
  rpc/types/events_test.go
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/setup_test.go
  x/feemarket/keeper/utils_test.go
Labels: Type: Tests
