Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"

Replace the removed `ServerStartTime` constant
  server/json_rpc.go
  server/start.go
  testutil/network/util.go
Labels: none

Replace the removed `server.WaitForQuitSignals` function
  server/start.go
Labels: none

Added first successful permit testing flow
  precompile/btctoken/approve.go
  precompile/btctoken/btctoken.go
  precompile/btctoken/permit.go
  precompile/btctoken/permit_test.go
  precompile/btctoken/setup_test.go
Labels: none

Replace removed ` serverconfig.DefaultGRPCWebAddress` const with its value
  server/start.go
Labels: none

Adjust GRPC initialization to Cosmos changes
  server/start.go
  testutil/network/util.go
Labels: none

More adjustments in the start cmd
  server/start.go
Labels: none

Adding more testing scenarios for permit function
  precompile/btctoken/permit.go
  precompile/btctoken/permit_test.go
Labels: none

Code cleanup / linting
  precompile/btctoken/permit.go
  precompile/btctoken/permit_test.go
Labels: none

Update account seeds for hardhat tasks in validator pool precompile
  precompile/validatorpool/hardhat/hardhat.config.ts
  precompile/validatorpool/hardhat/package-lock.json
  precompile/validatorpool/hardhat/package.json
Labels: none

Add `leave` and `kick` hardhat tasks to validator pool precompile
  precompile/validatorpool/hardhat/hardhat.config.ts
Labels: none

Renaming evmos/evmos/v1 -> mezo-org/mezod
  precompile/btctoken/permit.go
  precompile/btctoken/permit_test.go
Labels: none

Remove Rosetta from start cmd
  server/start.go
Labels: none

Adjustments in the test utils
  testutil/keeper/bridge.go
  testutil/network/network.go
  testutil/network/util.go
Labels: none

Remove `client/testnet.go` file
  client/testnet.go
Labels: C:CLI

Last adjustments in the `cmd` package
  cmd/mezod/init.go
  cmd/mezod/main.go
  cmd/mezod/migrate.go
  cmd/mezod/testnet.go
Labels: none

Address leftovers of `types/math.go` in proto files
  x/feemarket/migrations/v4/types/feemarket.pb.go
Labels: none

More adjustments in the test utils
  testutil/abci.go
  testutil/contract.go
  testutil/tx/cosmos.go
Labels: none

Run go mod tidy
  go.mod
  go.sum
Labels: none

Fix nil reference in the init cmd
  cmd/mezod/init.go
Labels: none

Fix startup problem with gen doc
  server/start.go
  testutil/network/util.go
Labels: none

Change chain-id and keyring-backend setup in scripts
  local_node.sh
  scripts/public-testnet.sh
Labels: Type: Build

Bump Go version in the build
  .github/workflows/build.yml
Labels: Type: CI

Adjust imports in test files
  app/ante/cosmos/authz_test.go
  app/ante/cosmos/fees_test.go
  app/ante/cosmos/min_price_test.go
  app/ante/cosmos/setup_test.go
  app/ante/evm/ante_test.go
  app/ante/evm/eth_test.go
  app/ante/evm/fee_checker_test.go
  app/ante/evm/fees_test.go
  app/ante/evm/setup_test.go
  app/ante/evm/utils_test.go
  app/ante/integration_test.go
  app/ante/sigverify_test.go
  app/ante/utils/setup_test.go
  app/app_test.go
  indexer/kv_indexer_test.go
  precompile/btctoken/allowance_test.go
  precompile/converter.go
  rpc/backend/backend_suite_test.go
  rpc/backend/blocks_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info_test.go
  rpc/backend/evm_query_client_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info_test.go
  tests/integration/ledger/ledger_test.go
  x/evm/keeper/fees_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/dynamic_fee_tx_test.go
  x/feemarket/keeper/abci_test.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/utils_test.go
  x/feemarket/types/params_test.go
  x/poa/keeper/keeper_test.go
Labels: Type: Tests

Converting approve authorization methods to functions
  precompile/btctoken/approve.go
  precompile/btctoken/permit.go
Labels: none

Adding BTC precompile nonce() method
  precompile/btctoken/abi.json
  precompile/btctoken/btctoken.go
  precompile/btctoken/permit.go
  precompile/btctoken/permit_test.go
Labels: none

Linting
  precompile/btctoken/permit.go
Labels: none

Update network privkey logic for validator pool hardhat tasks
  precompile/validatorpool/hardhat/hardhat.config.ts
  precompile/validatorpool/hardhat/package-lock.json
  precompile/validatorpool/hardhat/package.json
  precompile/validatorpool/hardhat/scripts/accounts.ts
  precompile/validatorpool/hardhat/scripts/localhost-keys.ts
Labels: none

Set non-negative max block gas for tests
  app/test_helpers.go
Labels: none

Fix ABCI test helpers
  testutil/abci.go
Labels: none

Adjust `encoding.MakeConfig`
  encoding/config.go
  x/evm/types/msg.go
Labels: none

Typos fixes and clean ups
  precompile/btctoken/metadata_test.go
  precompile/btctoken/permit.go
  precompile/btctoken/total_supply_test.go
Labels: none

Adding DOMAIN_SEPARATOR function
  precompile/btctoken/btctoken.go
  precompile/btctoken/permit.go
  precompile/btctoken/permit_test.go
Labels: none

Adding permit typehash function
  precompile/btctoken/btctoken.go
  precompile/btctoken/permit.go
  precompile/btctoken/permit_test.go
Labels: none

Fix `x/feemarket` integration tests
  testutil/abci.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/utils_test.go
Labels: none

Fix ledger integration tests
  tests/integration/ledger/ledger_test.go
Labels: Type: Tests

Update validator pool hardhat `README.md`
  precompile/validatorpool/hardhat/README.md
Labels: none

Pass missing height to finalize block call in tests
  app/ante/cosmos/authz_test.go
Labels: none

Fix unit tests for EIP712 ante handler
  app/ante/cosmos/eip712.go
  app/ante/evm/utils_test.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
  ethereum/eip712/encoding_legacy.go
  testutil/tx/eip712.go
Labels: none

Bump Go version for the test CI job
  .github/workflows/test.yml
Labels: Type: CI

Fix to the Ante tests stressing legacy EIP712 with MsgSend
  app/ante/evm/ante_test.go
Labels: none
