Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

Fix a typo in `testnet.md`
  docs/testnet.md
Labels: Type: Docs

Remove `Protobuf / break-check` CI job
  .github/workflows/proto.yml
Labels: Type: CI

Remove an unnecessary space from `testnet.md`
  docs/testnet.md
Labels: Type: Docs

Changing BTC precompile address
  precompile/btctoken/btctoken.go
Labels: none

Adjust script for launching binary-based nodes
  Makefile
  scripts/localnet-start.sh
Labels: Type: Build

Adjusted node addresses and ports in testnet config generation
  cmd/evmosd/testnet.go
Labels: none

Moving logger to the main part of the code avoiding double checks
  precompile/btctoken/approve.go
Labels: none

Aligning comments for the approve logic flow
  precompile/btctoken/approve.go
Labels: none

Removing the decrease of spend limit when the updated amount is zero
  precompile/btctoken/approve.go
Labels: none

Renaming Add->EvmAddr; AccAddr->SdkAddr. It makes the code more readable
  precompile/btctoken/approve_event_test.go
  precompile/btctoken/approve_test.go
  precompile/btctoken/setup_test.go
Labels: none

Moving Approval event to approve.go to improve navigation across the files
  precompile/btctoken/approve.go
  precompile/btctoken/approve_event.go
  precompile/btctoken/approve_event_test.go
  precompile/btctoken/approve_test.go
Labels: none

Adjust addresses, ports and parameters for binary-based localnet
  cmd/evmosd/testnet.go
  scripts/localnet-start.sh
Labels: Type: Build

Replaced 127.0.0.1 with localhost
  Makefile
  cmd/evmosd/testnet.go
Labels: Type: Build

Simplified code for getting peer node addresses
  cmd/evmosd/testnet.go
Labels: none

Refactored functions used for getting node addresses and ports
  cmd/evmosd/testnet.go
Labels: none

Refactored makefile targets
  Makefile
  scripts/localnet-start.sh
Labels: Type: Build

Linting fixes
  cmd/evmosd/testnet.go
Labels: none

Updated development documentation
  docs/development.md
Labels: Type: Docs

Minor makefile update
  Makefile
Labels: Type: Build

Update development doc
  docs/development.md
Labels: Type: Docs

Updated description for starting IP address flag
  cmd/evmosd/testnet.go
Labels: none

Inline the returned `Keeper` instance in the `poakeeper.NewKeeper` constructor
  x/poa/keeper/keeper.go
Labels: none

s/vote/application
  x/poa/types/application.go
Labels: none

Additional test case for `SubmitApplication` function
  x/poa/keeper/application_test.go
Labels: none

Another test case for `SubmitApplication` function
  x/poa/keeper/application_test.go
Labels: none

Improve `ApproveApplication` docstring
  x/poa/keeper/application.go
Labels: none

RFC-2: Clarified the relation of Portal and BitcoinBridge contracts
  docs/rfc/rfc-2.md
Labels: Type: Docs

RFC-2: Sidecar implementation recommendations
  docs/rfc/rfc-2.md
Labels: Type: Docs

Change panic message in `setValidatorStateLeaving`
  x/poa/keeper/validator.go
Labels: none

Fix a comment in `GetActiveValidators`
  x/poa/keeper/validator.go
Labels: none

Add emptiness check of `newOwner` in `TransferOwnership`
  x/poa/keeper/owner.go
Labels: none

RFC-2: EVM observability of bridge events
  docs/rfc/rfc-2.md
Labels: Type: Docs

RFC-2: Impose a limit on Vote Extension size
  docs/rfc/rfc-2.md
Labels: Type: Docs

s/newConsPubKeyBech32/newPubKey
  x/poa/keeper/application_test.go
Labels: none

RFC-2: Reworked the concept of bridge validators
  docs/rfc/rfc-2.md
Labels: Type: Docs

RFC-2: Warn about Ethereum JSON-RPC decentralization
  docs/rfc/rfc-2.md
Labels: Type: Docs

s/appendApplication/createApplication
  x/poa/keeper/application.go
  x/poa/keeper/application_test.go
Labels: none

s/appendValidator/createValidator
  x/poa/keeper/abci_test.go
  x/poa/keeper/application.go
  x/poa/keeper/application_test.go
  x/poa/keeper/historical_info_test.go
  x/poa/keeper/validator.go
  x/poa/keeper/validator_test.go
Labels: none

Additional explanation in `Validator` function of the query server
  x/poa/keeper/query_server.go
Labels: none

Adjust `script/public-testnet.sh` artifact generator to PoA
  scripts/public-testnet.sh
Labels: Type: Build

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"
