Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"

Additional cleanup around `types/math.go`
  cmd/config/config.go
  ethereum/eip712/eip712_legacy.go
Labels: none

Additional cleanup around tips
  ethereum/eip712/encoding.go
Labels: none

Adjustments around `ethereum/eip712`
  ethereum/eip712/encoding.go
  ethereum/eip712/encoding_legacy.go
Labels: none

Cast `FeePayer` to `sdk.AccAddress` while building `ExtensionOptionsWeb3Tx`
  ethereum/eip712/preprocess.go
Labels: none

Fixing nonce retrieval and saving for a given address
  precompile/btctoken/permit.go
  precompile/btctoken/permit_test.go
Labels: none

More cleanup around tips
  app/ante/cosmos/eip712.go
Labels: none

Adjust `MsgEthereumTx` message to the new SDK requirements
  x/evm/types/msg.go
Labels: none

Adjust `SignByAddress` calls in the test utils
  testutil/tx/eip712.go
  testutil/tx/signer.go
Labels: none

Adjust `SignByAddress` calls in the JSON-RPC server
  rpc/backend/sign_tx.go
Labels: none

More cleanup around `types/math.go`
  precompile/converter.go
  x/evm/types/chain_config.go
Labels: none

Adjust moved key types
  client/keys/add.go
  client/keys/utils.go
Labels: C:CLI

Adjust `ParseTxResult` function to the new ABCI
  rpc/types/events.go
Labels: none

Remove `ValidateBasic` call on `MsgSend` from the BTC precompile
  precompile/btctoken/transfer.go
Labels: none

Add `AddressCodec` to the `AccountKeeper` expected by `x/evm`
  go.mod
  x/evm/types/interfaces.go
Labels: none

More cleanup around `types/math.go`
  rpc/backend/backend.go
  rpc/backend/chain_info.go
  rpc/backend/node_info.go
  x/evm/keeper/msg_server.go
Labels: none

Begin hardhat tasks for the validator pool precompile
  precompile/validatorpool/hardhat/.gitignore
  precompile/validatorpool/hardhat/README.md
  precompile/validatorpool/hardhat/hardhat.config.ts
  precompile/validatorpool/hardhat/package-lock.json
  precompile/validatorpool/hardhat/package.json
  precompile/validatorpool/hardhat/tsconfig.json
Labels: none

Remove another `ValidateBasic` call
  rpc/backend/node_info.go
Labels: none

Remove nil check of `ConsensusParams` return result
  x/evm/keeper/grpc_query.go
Labels: none

Remove `Bytes()` call on `HeaderHash()` result
  x/evm/keeper/grpc_query.go
Labels: none

Replace `armon/go-metrics` with `hashicorp/go-metrics`
  x/evm/keeper/msg_server.go
Labels: none

Adjust another `KVStorePrefixIterator` reference
  x/evm/keeper/statedb.go
Labels: none

Adjust another `GasMeter` reference
  app/ante/evm/setup_ctx.go
Labels: none

More cleanup around `types/math.go`
  app/ante/evm/fees.go
Labels: none

Remove leftover `Bytes()` calls on `HeaderHash()` result
  app/ante/evm/eth.go
  testutil/statedb.go
Labels: none

Remove leftover of `authtypes.AccountI `
  proto/ethermint/types/v1/account.proto
  rpc/backend/utils.go
  types/account.go
  types/account.pb.go
  types/codec.go
  x/evm/genesis.go
Labels: C:Proto, C:Types

Replace `sdk.Coins`'s `IsEqual` with `Equal`
  app/ante/evm/setup_ctx.go
Labels: none

More cleanup around `types/math.go`
  app/ante/cosmos/fees.go
  app/ante/cosmos/min_price.go
  app/ante/evm/fee_checker.go
  app/ethtest_helper.go
  app/gas.go
  app/test_helpers.go
  client/testnet.go
  testutil/fund.go
  testutil/network/network.go
  x/feemarket/migrations/v4/types/params.go
Labels: C:CLI

Replace one another `ResponseDeliverTx` with `ExecTxResult`
  rpc/backend/utils.go
Labels: none

Replace `BeginBlockEvents` and `EndBlockEvents` with `FinalizeBlockEvents`
  rpc/backend/blocks.go
  rpc/backend/chain_info.go
Labels: none

Replace `authtypes.AddressStoreKey` function call
  rpc/backend/account_info.go
Labels: none

Pass ctx to `tx.Sign`
  rpc/backend/node_info.go
Labels: none

Optional `ValidateBasic` check in the EVM Ante handler
  app/ante/evm/setup_ctx.go
Labels: none

Minor adjustments
  app/ante/cosmos/eip712.go
  app/ante/cosmos/min_price.go
Labels: none

Replace `tmquery.MustParse` with `tmquery.MustCompile`
  rpc/namespaces/ethereum/eth/filters/filter_system.go
Labels: none

More adjustments around Ante handlers
  app/ante/cosmos/eip712.go
  app/ante/cosmos/interfaces.go
  app/ante/handler_options.go
  app/ante/sigverify.go
  app/ante/utils/interfaces.go
Labels: none

Adjust `NewHeads` RPC method to the ABCI changes
  rpc/namespaces/ethereum/eth/filters/api.go
Labels: none

More adjustments in the app package
  app/app.go
  app/ethtest_helper.go
  app/export.go
  app/test_helpers.go
Labels: none

More replacements of `cometbft-db` with `cosmos-db`
  indexer/kv_indexer.go
  server/start.go
  testutil/keeper/bridge.go
  testutil/network/network.go
Labels: none

Adjust indexer cmd to ABCI changes
  server/indexer_cmd.go
Labels: none

Returning a boolean in permit
  precompile/btctoken/abi.json
  precompile/btctoken/solidity/IERC20WithPermit.sol
Labels: none
