Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

Replace `meso/node` with `mezo-org/mezod`
  Makefile
  docker-compose.yml
  docs/development.md
Labels: Type: Build, Type: Docs

Replace all instance of `EVMOS` with `MEZO`
  Makefile
  cmd/evmosd/cmd_test.go
  cmd/evmosd/root.go
  scripts/integration-test-all.sh
  scripts/statesync.bash
  scripts/statesync.sh
  types/chain_id_test.go
Labels: C:Types, Type: Build

Remove `SECURITY.md` and `.github/CODEOWNERS`
  .github/CODEOWNERS
  SECURITY.md
Labels: none

Update Chain ID to `mezo_31611-1` (testnet)
  app/ante/evm/ante_test.go
  client/debug/debug.go
Labels: C:CLI

Update proto namespace and run `proto-gen`
  crypto/ethsecp256k1/keys.pb.go
  proto/buf.yaml
  scripts/protoc-swagger-gen.sh
  scripts/protocgen.sh
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/bridge/types/genesis.pb.go
  x/bridge/types/query.pb.go
  x/bridge/types/tx.pb.go
  x/evm/types/events.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/events.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
  x/feemarket/types/tx.pb.go
  x/poa/types/genesis.pb.go
  x/poa/types/poa.pb.go
  x/poa/types/query.pb.go
Labels: C:Proto, C:Types, Type: Build

Remove old seeds from seeds list
  cmd/mezod/init.go
Labels: none

Update the `BaseDenom` docstring
  cmd/config/config.go
Labels: none

Update `precompile/validatorpool` with new imports/types
  precompile/validatorpool/application.go
  precompile/validatorpool/application_test.go
  precompile/validatorpool/owner.go
  precompile/validatorpool/owner_test.go
  precompile/validatorpool/setup_test.go
  precompile/validatorpool/validator.go
  precompile/validatorpool/validator_test.go
  precompile/validatorpool/validatorpool.go
Labels: none

Reorder proto imports after rebrand
  proto/mezo/bridge/v1/query.proto
  proto/mezo/poa/v1/genesis.proto
  proto/mezo/poa/v1/query.proto
Labels: C:Proto

Fix Dockerfile lint error `DL3059`
  Dockerfile
Labels: Type: Build

Add `markdown-link-check-disable` block to `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: none

Drafting permit parameters hashing with nonce storage on EVM module
  app/app.go
  precompile/btctoken/btctoken.go
  precompile/btctoken/permit.go
  x/evm/types/key.go
Labels: none

Update docker image in `networks/local/Makefile`
  networks/local/Makefile
Labels: none

Updates failing unit tests after rebrand
  app/ante/cosmos/min_price_test.go
  app/ante/evm/ante_test.go
  app/ante/evm/fee_market_test.go
  app/ante/evm/fees_test.go
  app/ante/integration_test.go
  ethereum/eip712/preprocess_test.go
  utils/utils_test.go
Labels: none

Adding evmKeeper that will be used by the Permit method to store nonce value
  app/app.go
  precompile/btctoken/allowance_test.go
  precompile/btctoken/approve_test.go
  precompile/btctoken/matadata_test.go
  precompile/btctoken/total_supply_test.go
  precompile/btctoken/transfer_test.go
Labels: none

Drafting more crypto code around hashing the message
  precompile/btctoken/permit.go
  precompile/btctoken/permit_test.go
  precompile/btctoken/setup_test.go
Labels: none

Re-generate proto files after merging main and solving conflicts
  types/account.pb.go
  types/dynamic_fee.pb.go
  x/bridge/types/query.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/query.pb.go
  x/poa/types/genesis.pb.go
  x/poa/types/query.pb.go
Labels: C:Types

Change signature of the `RegisterNodeService` method
  app/app.go
Labels: none

Adjust streaming services initialization
  app/app.go
Labels: none

Replace `cometbft/cometbft-db` with `cosmos/cosmos-db`
  app/app.go
  cmd/mezod/root.go
Labels: none

Change `SetParamStore` call
  app/app.go
Labels: none

Fix `NewAccountKeeper` call
  app/app.go
  types/account.go
Labels: C:Types

Replace type of the `SignModeHandler`
  app/ante/handler_options.go
Labels: none

Adjust `x/evm` expected interface to changes in the Cosmos modules
  x/evm/types/interfaces.go
Labels: none

Adjust `x/evm` to the `AppModuleBasic` interface changes
  x/evm/keeper/abci.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/module.go
Labels: none

Replace config cmd with `confix/cmd`
  cmd/mezod/root.go
  go.mod
  go.sum
Labels: none

Replace `pruning.PruningCmf` with `pruning.Cmd`
  cmd/mezod/root.go
Labels: none

Replace `rpc.StatusCommand` with `server.StatusCommand`
  cmd/mezod/root.go
Labels: none

Remove `authcmd.GetAuxToFeeCommand`
  cmd/mezod/root.go
Labels: none

Replace `rpc.BlockCommand` with `server.QueryBlockCmd`
  cmd/mezod/root.go
Labels: none

Remove `authcmd.GetAccountCmd`
  cmd/mezod/root.go
Labels: none

Replace `sdk.MultiStorePersistentCache` with `storetypes.MultiStorePersistentCache`
  cmd/mezod/root.go
Labels: none

Remove mempool version from config
  cmd/mezod/root.go
Labels: none

Adjust `x/bridge` to the `AppModuleBasic` interface changes
  x/bridge/module.go
Labels: none

Adjust `x/feemarket` to the `AppModuleBasic` interface changes
  x/feemarket/keeper/abci.go
  x/feemarket/module.go
Labels: none

Adjust `x/poa` to the `AppModuleBasic` interface changes
  x/poa/keeper/abci.go
  x/poa/module.go
Labels: none

Adjust KV indexer to the ABCI type changes
  indexer/kv_indexer.go
  rpc/types/utils.go
  types/indexer.go
Labels: C:Types

Adjust `KVStorePrefixIterator` references
  x/poa/keeper/application.go
  x/poa/keeper/validator.go
Labels: none

Cleanup legacy message and codec leftovers from modules
  x/bridge/types/codec.go
  x/evm/handler.go
  x/evm/handler_test.go
  x/evm/module.go
  x/evm/types/codec.go
  x/feemarket/handler.go
  x/feemarket/module.go
  x/feemarket/types/codec.go
Labels: none

Almost completing digest generation
  precompile/btctoken/permit.go
  precompile/btctoken/permit_test.go
Labels: none

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"
