Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

Capitalize comment
  x/poa/keeper/historical_info.go
Labels: none

Revamp `x/poa` storage keys
  x/poa/keeper/application.go
  x/poa/keeper/kick_proposal.go
  x/poa/keeper/validator.go
  x/poa/types/key.go
Labels: none

Fix linting errors
  scripts/localnet-start.sh
  scripts/localnet.sh
  scripts/public-testnet.sh
Labels: Type: Build

Add second step of ownership transfer
  x/poa/keeper/keeper.go
  x/poa/keeper/owner.go
  x/poa/keeper/params.go
  x/poa/types/errors.go
  x/poa/types/key.go
Labels: none

Added script for launching nodes
  scripts/localnet-start.sh
  scripts/localnet.sh
Labels: Type: Build

Adjust application submission and approval
  proto/evmos/poa/v1/poa.proto
  x/poa/keeper/application.go
  x/poa/keeper/msg_server.go
  x/poa/types/events.go
  x/poa/types/key.go
  x/poa/types/params.go
  x/poa/types/poa.pb.go
Labels: C:Proto

Adjust validator kick and leave
  x/poa/keeper/kick_proposal.go
  x/poa/keeper/kick_proposal_test.go
  x/poa/keeper/msg_server.go
  x/poa/keeper/query_server.go
  x/poa/keeper/validator.go
  x/poa/types/validator.go
Labels: none

Cleanup unused code in the `x/poa` module
  proto/evmos/poa/v1/poa.proto
  proto/evmos/poa/v1/query.proto
  proto/evmos/poa/v1/tx.proto
  x/poa/client/cli/flags.go
  x/poa/client/cli/genval.go
  x/poa/client/cli/query.go
  x/poa/client/cli/tx.go
  x/poa/keeper/application.go
  x/poa/keeper/msg_server.go
  x/poa/keeper/query_server.go
  x/poa/keeper/validator.go
  x/poa/module.go
  x/poa/types/application.go
  x/poa/types/codec.go
  x/poa/types/errors.go
  x/poa/types/events.go
  x/poa/types/genesis.go
  x/poa/types/historical_info.go
  x/poa/types/key.go
  x/poa/types/msg.go
  x/poa/types/params.go
  x/poa/types/poa.pb.go
  x/poa/types/query.pb.go
  x/poa/types/query.pb.gw.go
  x/poa/types/tx.pb.go
  x/poa/types/validator.go
  x/poa/types/vote.go
  x/poa/types/vote_test.go
Labels: C:Proto, C:CLI

Adding tests for the approve() function
  precompile/btctoken/approve.go
  precompile/btctoken/approve_test.go
  precompile/btctoken/setup_test.go
Labels: none

RFC-2: Bridging Bitcoin to Mezo
  docs/rfc/rfc-2.md
Labels: Type: Docs

Harden Leave function
  x/poa/keeper/validator.go
  x/poa/types/errors.go
Labels: none

Rename `ValidatorStateJoined` to `ValidatorStateActive`
  x/poa/keeper/abci.go
  x/poa/keeper/genesis.go
  x/poa/keeper/validator.go
  x/poa/types/validator.go
Labels: none

Used evmosd testnet init-files to generate node's config files
  Makefile
Labels: Type: Build

Fix lint errors
  scripts/localnet-start.sh
Labels: Type: Build

Adjust unit tests for the `x/poa` module
  app/app_test.go
  app/ethtest_helper.go
  app/test_helpers.go
  cmd/evmosd/testnet.go
  x/poa/keeper/abci_test.go
  x/poa/keeper/application.go
  x/poa/keeper/application_test.go
  x/poa/keeper/genesis_test.go
  x/poa/keeper/historical_info_test.go
  x/poa/keeper/keeper_test.go
  x/poa/keeper/owner_test.go
  x/poa/keeper/validator_test.go
  x/poa/types/genesis.go
Labels: none

Adjust unit tests of modules depending on `x/poa`
  x/evm/handler_test.go
  x/evm/keeper/setup_test.go
  x/evm/keeper/state_transition_test.go
  x/feemarket/keeper/utils_test.go
Labels: none

Adjust localnet scripts to work with the adjusted `x/poa` module
  cmd/evmosd/testnet.go
  local_node.sh
Labels: none

Covering more testing scenarios:
  precompile/btctoken/approve_test.go
Labels: none

Move params to the key table
  x/poa/types/key.go
  x/poa/types/params.go
Labels: none

Adjust `x/poa` module spec
  x/poa/spec/01_state.md
  x/poa/spec/02_messages.md
  x/poa/spec/02_start_block.md
  x/poa/spec/03_end_block.md
  x/poa/spec/04_events.md
  x/poa/spec/04_params.md
  x/poa/spec/05_params.md
  x/poa/spec/README.md
Labels: Type: Docs

Make linter happy
  x/poa/keeper/application_test.go
  x/poa/keeper/genesis_test.go
  x/poa/keeper/owner_test.go
  x/poa/keeper/validator_test.go
  x/poa/types/genesis.go
  x/poa/types/validator.go
Labels: none

Removing testing scenarios that should be handled upstream by EVM
  precompile/btctoken/approve_test.go
Labels: none

Linting only
  precompile/btctoken/approve.go
  precompile/btctoken/approve_test.go
Labels: none

Removed unnecessary script
  scripts/localnet-start.sh
  scripts/localnet.sh
Labels: Type: Build

Emitting Approval event
  precompile/btctoken/approve.go
  precompile/btctoken/approve_event.go
  precompile/btctoken/approve_event_test.go
Labels: none

Making the approval expiration date 100 years.
  precompile/btctoken/approve.go
Labels: none

Make markdownlinter happy
  x/poa/spec/01_state.md
  x/poa/spec/02_start_block.md
  x/poa/spec/README.md
Labels: Type: Docs

Adding Logger
  precompile/btctoken/approve.go
Labels: none

Validating against approving a 0x0 address
  precompile/btctoken/approve.go
Labels: none

Last adjustments to local_node.sh and satisfy shellcheck linter
  .gitignore
  local_node.sh
Labels: none

Simplifying logic for approval flows
  precompile/btctoken/approve.go
Labels: none

Add testnet overview section
  docs/testnet.md
Labels: Type: Docs

Using precompile.TypesConverter and local authorization for saveGrant flow
  precompile/btctoken/approve.go
Labels: none

Add testnet artifacts section
  docs/testnet.md
Labels: Type: Docs

Add testnet infrastructure and deployment section
  docs/testnet.md
Labels: Type: Docs

Refactoring approval flows using nested if-elses
  precompile/btctoken/approve.go
Labels: none

Mezo readme
  README.md
Labels: none

Satisfy markdownlint rules for `testnet.md`
  docs/testnet.md
Labels: Type: Docs

Satisfy markdownlint rules for `README.md`
  README.md
Labels: none

Remove a dead link from `testnet.md`
  docs/testnet.md
Labels: Type: Docs

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"
