Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"

Make markdownlint happy by removing a dead link
  CONTRIBUTING.md
Labels: none

Simplify Makefile around proto
  Makefile
Labels: Type: Build

Satisfy shellcheck linter
  .shellcheckrc
Labels: none

Interacting with bankKeeper only if the amount is > 0
  precompile/btctoken/transfer.go
  precompile/btctoken/transfer_test.go
Labels: none

Drafting the allowance method for BTC precompile
  precompile/btctoken/allowance.go
  precompile/btctoken/btctoken.go
Labels: none

Pass chain-id explicitly upon start
  Makefile
  cmd/evmosd/root.go
  scripts/localnet-start.sh
  server/flags/flags.go
Labels: Type: Build

Pass chain-id for Docker localnet
  docker-compose.yml
Labels: Type: Build

Fix BTC precompile transfer test
  precompile/btctoken/transfer_test.go
Labels: none

Adding integration tests for the 'allowance' method
  precompile/btctoken/allowance_test.go
Labels: none

Make linters happy again
  cmd/evmosd/root.go
Labels: none

Complying with ERC20 standard when there's no allowance
  precompile/btctoken/allowance.go
  precompile/btctoken/allowance_test.go
Labels: none

Bump `cosmos-sdk` to `0.50.8` in `go.mod`
  go.mod
  go.sum
Labels: none

Replace `cosmos-sdk/store` with `cosmossdk.io/store`
  app/ante/evm/setup_ctx.go
  app/ante/evm/setup_ctx_test.go
  app/app.go
  cmd/evmosd/root.go
  precompile/contract.go
  precompile/method.go
  precompile/method_test.go
  server/start.go
  testutil/keeper/bridge.go
  testutil/network/network.go
  x/bridge/keeper/keeper.go
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v5/migrate.go
  x/feemarket/keeper/keeper.go
  x/feemarket/migrations/v4/migrate.go
  x/poa/keeper/keeper.go
  x/poa/keeper/keeper_test.go
Labels: none

Replace `cosmos-sdk/x/upgrade` with `cosmossdk.io/x/upgrade`
  app/ante/evm/utils_test.go
  app/app.go
Labels: none

Replace `cosmos-sdk/client/grpc/tmservice` with `cmtservice`
  app/app.go
Labels: none

Replace `cosmos-sdk/snapshots` with `cosmossdk.io/store/snapshots`
  cmd/evmosd/root.go
Labels: none

Tidy go.mod after fixing problems with packages
  go.mod
  go.sum
Labels: none

Bump `cosmos-sdk` proto version
  proto/buf.lock
  proto/buf.yaml
Labels: C:Proto

Replace `types/math.go` types with `cosmossdk.io/math` in proto files
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/types/v1/account.proto
  proto/ethermint/types/v1/dynamic_fee.proto
Labels: C:Proto

Re-generate proto files to pull recent changes
  types/account.pb.go
  types/dynamic_fee.pb.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/query.pb.go
Labels: C:Types

resetting tests before each run
  precompile/btctoken/total_supply_test.go
Labels: none

Replace `types/math.go` types with `cosmossdk.io/math` in other files
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/params.go
  x/feemarket/types/params.go
Labels: none

Replace `types/store.go` references with `cosmossdk.io/store/types`
  types/gasmeter.go
Labels: C:Types

Replace `cosmossdk.io/tools/rosetta` with `github.com/cosmos/rosetta`
  cmd/evmosd/root.go
  go.mod
  go.sum
  server/start.go
Labels: none

Adjust nil checks around `ctx.ConsensusParams()`
  types/block.go
  x/feemarket/keeper/eip1559.go
Labels: C:Types

Replace `cometbft/libs/log` with `cosmossdk.io/log`
  app/ante/evm/fee_checker_test.go
  app/app.go
  app/app_test.go
  app/ethtest_helper.go
  app/test_helpers.go
  app/tps_counter.go
  app/tps_counter_test.go
  cmd/evmosd/root.go
  go.mod
  indexer/kv_indexer.go
  indexer/kv_indexer_test.go
  rpc/backend/backend.go
  rpc/backend/mocks/client.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info_test.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/debug/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/namespaces/ethereum/miner/api.go
  rpc/namespaces/ethereum/personal/api.go
  rpc/namespaces/ethereum/txpool/api.go
  rpc/websockets.go
  server/util.go
  testutil/keeper/bridge.go
  testutil/network/network.go
  x/bridge/keeper/keeper.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/utils_test.go
  x/poa/keeper/keeper.go
  x/poa/keeper/keeper_test.go
Labels: none

Replace CometBFT genesis doc with Cosmos app genesis in the `genval` command
  x/poa/client/cli/genval.go
Labels: C:CLI

Adjust app-level start/end blocker and init-chainer hooks
  app/app.go
Labels: none

Add initial contract draft (solidity) and ABI for PoA validator pool
  precompile/validatorpool/abi.json
  precompile/validatorpool/solidity/.gitignore
  precompile/validatorpool/solidity/README.md
  precompile/validatorpool/solidity/contracts/ValidatorPool.sol
  precompile/validatorpool/solidity/hardhat.config.ts
  precompile/validatorpool/solidity/ignition/modules/ValidatorPool.ts
  precompile/validatorpool/solidity/package-lock.json
  precompile/validatorpool/solidity/package.json
  precompile/validatorpool/solidity/test/ValidatorPool.ts
  precompile/validatorpool/solidity/tsconfig.json
Labels: none

Update `ValidatorPool` interface function params
  precompile/validatorpool/accept_ownership.go
  precompile/validatorpool/approve_application.go
  precompile/validatorpool/kick.go
  precompile/validatorpool/leave.go
  precompile/validatorpool/submit_application.go
  precompile/validatorpool/transfer_ownership.go
  precompile/validatorpool/validatorpool.go
Labels: none

Add `NewPrecompile` function for the new validator pool precompile
  precompile/validatorpool/validatorpool.go
Labels: none

Use `ValidatorPool` interface as keeper in the validatorpool precompile
  precompile/validatorpool/accept_ownership.go
  precompile/validatorpool/approve_application.go
  precompile/validatorpool/kick.go
  precompile/validatorpool/leave.go
  precompile/validatorpool/submit_application.go
  precompile/validatorpool/transfer_ownership.go
  precompile/validatorpool/validatorpool.go
Labels: none

Add `ValidatorJoined` event to the validatorpool precompile
  precompile/validatorpool/approve_application.go
  precompile/validatorpool/validator_joined.go
Labels: none

Add `ApplicationSubmitted` event to validatorpool precompile
  precompile/validatorpool/application_submitted.go
  precompile/validatorpool/submit_application.go
Labels: none

Add `ApplicationApproved` event to validatorpool precompile
  precompile/validatorpool/application_approved.go
  precompile/validatorpool/approve_application.go
Labels: none

Add validatorpool precompile methods
  precompile/validatorpool/accept_ownership.go
  precompile/validatorpool/approve_application.go
  precompile/validatorpool/kick.go
  precompile/validatorpool/leave.go
  precompile/validatorpool/submit_application.go
  precompile/validatorpool/transfer_ownership.go
  precompile/validatorpool/validatorpool.go
Labels: none

Add owner read methods to validatorpool precompile
  precompile/validatorpool/owner.go
  precompile/validatorpool/validatorpool.go
Labels: none

Add `ValidatorLeft` event to the validatorpool precompile
  precompile/validatorpool/leave.go
  precompile/validatorpool/validator_left.go
Labels: none

Rename `ValidatorPool` interface to `PoaKeeper` in validatorpool precompile
  precompile/validatorpool/accept_ownership.go
  precompile/validatorpool/approve_application.go
  precompile/validatorpool/kick.go
  precompile/validatorpool/leave.go
  precompile/validatorpool/submit_application.go
  precompile/validatorpool/transfer_ownership.go
  precompile/validatorpool/validatorpool.go
Labels: none

Update `abi.json` for the validatorpool precompile
  precompile/validatorpool/abi.json
Labels: none
