Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"

Introducing IBTC interface that extends all the needed interfaces
  precompile/btctoken/solidity/IApproveAndCall.sol
  precompile/btctoken/solidity/IBTC.sol
  precompile/btctoken/solidity/IERC20.sol
  precompile/btctoken/solidity/IERC20Metadata.sol
  precompile/btctoken/solidity/IERC20WithPermit.sol
Labels: none

IBTC extending IERC20WithPermit which extends other interfaces
  precompile/btctoken/IBTC.sol
  precompile/btctoken/solidity/IBTC.sol
  precompile/btctoken/solidity/IERC20WithPermit.sol
Labels: none

Removing burn and burnFrom from abi
  precompile/btctoken/abi.json
Labels: none

Moved tools.go to the root directory
  tools.go
Labels: none

Minor changes: renames, logging improvements
  Makefile
  ethereum/bindings/common/gen/Makefile
  ethereum/bindings/portal/gen/_address/Portal
Labels: Type: Build

Add missing dot
  proto/evmos/poa/v1/poa.proto
Labels: C:Proto

Added empty lines at the end of `x/poa` proto files
  proto/evmos/poa/v1/genesis.proto
  proto/evmos/poa/v1/poa.proto
  proto/evmos/poa/v1/query.proto
  proto/evmos/poa/v1/tx.proto
Labels: C:Proto

Remove the Cosmos `x/distribution` module
  app/ante/cosmos/fees.go
  app/ante/evm/eth.go
  app/ante/handler_options.go
  app/ante/utils/claim_rewards.go
  app/ante/utils/claim_rewards_test.go
  app/ante/utils/interfaces.go
  app/app.go
Labels: none

Added empty lines at the end of empty files
  ethereum/bindings/portal/gen/_address/.keep
  ethereum/bindings/portal/gen/_address/Portal
  ethereum/bindings/portal/gen/abi/.keep
  ethereum/bindings/portal/gen/contract/.keep
Labels: none

Bulk fix for typos found in the `x/poa` module
  x/poa/client/cli/tx.go
  x/poa/keeper/abci.go
  x/poa/keeper/abci_test.go
  x/poa/keeper/application.go
  x/poa/keeper/application_test.go
  x/poa/keeper/genesis_test.go
  x/poa/keeper/kick_proposal_test.go
  x/poa/keeper/params.go
  x/poa/keeper/validator.go
  x/poa/keeper/validator_test.go
  x/poa/module.go
  x/poa/spec/02_messages.md
  x/poa/spec/03_end_block.md
  x/poa/types/key.go
Labels: C:CLI, Type: Docs

Small docstring fix
  x/poa/types/key.go
Labels: none

Remove the Cosmos `x/slashing` module
  app/app.go
Labels: none

Remove the Cosmos `x/feegrant` module
  app/app.go
Labels: none

Remove the Cosmos `x/authz` module
  app/app.go
Labels: none

Remove `ibc-go` from `go.mod`
  go.mod
  go.sum
Labels: none

Added Ethereum chain handle to Portal contract
  ethereum/ethereum.go
  ethereum/portal.go
Labels: none

Comment out upgrade handlers
  app/app.go
Labels: none

Remove Evmos `x/epoch` module
  app/app.go
  proto/evmos/epochs/v1/genesis.proto
  proto/evmos/epochs/v1/query.proto
  x/epochs/client/cli/query.go
  x/epochs/genesis.go
  x/epochs/genesis_test.go
  x/epochs/keeper/abci.go
  x/epochs/keeper/abci_test.go
  x/epochs/keeper/epoch_infos.go
  x/epochs/keeper/epoch_infos_test.go
  x/epochs/keeper/grpc_query.go
  x/epochs/keeper/grpc_query_test.go
  x/epochs/keeper/hooks.go
  x/epochs/keeper/keeper.go
  x/epochs/keeper/setup_test.go
  x/epochs/keeper/utils_test.go
  x/epochs/module.go
  x/epochs/types/codec.go
  x/epochs/types/epoch_info.go
  x/epochs/types/epoch_info_test.go
  x/epochs/types/events.go
  x/epochs/types/genesis.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/genesis_test.go
  x/epochs/types/identifier.go
  x/epochs/types/identifier_test.go
  x/epochs/types/interfaces.go
  x/epochs/types/keys.go
  x/epochs/types/query.pb.go
  x/epochs/types/query.pb.gw.go
Labels: C:Proto, C:CLI

Making Contract.Abi public
  precompile/contract.go
Labels: none

Adding tests to validate totalSupply method.
  precompile/btctoken/setup_test.go
  precompile/btctoken/tokensupply.go
  precompile/btctoken/tokensupply_test.go
Labels: none

go linting
  precompile/btctoken/setup_test.go
Labels: none

Adding more context on how the input data for a function sig is created
  precompile/btctoken/tokensupply.go
  precompile/btctoken/tokensupply_test.go
Labels: none

Adding more context on where the initial total supply comes from
  precompile/btctoken/tokensupply_test.go
Labels: none

Adding Name() function call for a BTC ERC20 precompile
  precompile/btctoken/btctoken.go
  precompile/btctoken/matadata_test.go
  precompile/btctoken/metadata.go
Labels: none

Adding an additional validation against nil for supply.Amount
  precompile/btctoken/tokensupply.go
Labels: none

If the amount is 0 we can fall to the standard return
  precompile/btctoken/tokensupply.go
Labels: none

Renaming files: tokensupply -> total_supply
  precompile/btctoken/total_supply.go
  precompile/btctoken/total_supply_test.go
Labels: none

Drafting 2 new precompiled methods as part of metadata
  precompile/btctoken/abi.json
  precompile/btctoken/btctoken.go
  precompile/btctoken/matadata_test.go
  precompile/btctoken/metadata.go
Labels: none

Refactoring tests
  precompile/btctoken/matadata_test.go
Labels: none

Linting
  precompile/btctoken/metadata.go
Labels: none

Adding validation for the input params
  precompile/btctoken/metadata.go
Labels: none

Remove Cosmos `x/evidence` module
  app/app.go
Labels: none

Remove Cosmos `x/gov` module
  app/app.go
Labels: none

Remove unused memory store
  app/app.go
Labels: none

Cleanup some `x/gov` leftovers
  app/app.go
Labels: none

Remove existing upgrade handlers
  app/app.go
  app/forks.go
  app/upgrades/v10/constants.go
  app/upgrades/v10/upgrades.go
  app/upgrades/v11/accounts.go
  app/upgrades/v11/constants.go
  app/upgrades/v11/upgrades.go
  app/upgrades/v12/accounts.go
  app/upgrades/v12/constants.go
  app/upgrades/v12/upgrades.go
  app/upgrades/v12/upgrades_test.go
  app/upgrades/v8/constants.go
  app/upgrades/v8/upgrades.go
  app/upgrades/v8/upgrades_test.go
  app/upgrades/v8_1/constants.go
  app/upgrades/v8_1/upgrades.go
  app/upgrades/v8_2/constants.go
  app/upgrades/v8_2/upgrades.go
  app/upgrades/v9/accounts.go
  app/upgrades/v9/constants.go
  app/upgrades/v9/upgrades.go
  app/upgrades/v9/upgrades_test.go
  app/upgrades/v9_1/accounts.go
  app/upgrades/v9_1/constants.go
  app/upgrades/v9_1/upgrades.go
  app/upgrades/v9_1/upgrades_test.go
Labels: none

Get rid of `x/inflation` reference in the code pulled from recent main
  precompile/btctoken/total_supply_test.go
Labels: none

Remove Cosmos `x/genutil` module
  app/app.go
Labels: none

Cleanup obsolete comments and unused functions in `app.go`
  app/app.go
Labels: none

Remove `StakingKeeper` reference from Ante handlers
  app/ante/cosmos/fees.go
  app/ante/evm/eth.go
  app/ante/handler_options.go
  app/app.go
Labels: none
