Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"

Converting bigInt's block time to uint64 for MakeSigner usage
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
Labels: none

Converting rpc.DecimalOrHex to math.HexOrDecimal64
  rpc/backend/backend.go
  rpc/backend/chain_info.go
  rpc/backend/chain_info_test.go
  rpc/namespaces/ethereum/eth/api.go
Labels: none

Embedding transactions to body struct
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
Labels: none

Implement app-level `PrepareProposal` handler
  app/abci/proposal.go
  app/abci/types/proposal.pb.go
  app/abci/vote_extension.go
  proto/mezo/abci/v1/proposal.proto
Labels: C:Proto

Remove redundant sort-check from `IsStrictlyIncreasingSequence`
  x/bridge/types/assets_locked.go
Labels: none

Add empty lines to `vote_extension.proto` files
  proto/mezo/abci/v1/vote_extension.proto
  proto/mezo/bridge/v1/vote_extension.proto
Labels: C:Proto

Removing SeedHash
  rpc/namespaces/ethereum/debug/api.go
Labels: none

Accessing CalcBaseFee from eip1559 package. It was moved here.
  rpc/backend/utils.go
Labels: none

Removing deprecated method Notifie.Closed
  rpc/namespaces/ethereum/eth/filters/api.go
Labels: none

Removing support for pending logs
  rpc/namespaces/ethereum/eth/filters/api.go
Labels: none

Renaming params
  x/feemarket/migrations/v4/types/params.go
  x/feemarket/types/params.go
Labels: none

Logging changes
  server/json_rpc.go
  x/evm/keeper/state_transition.go
Labels: none

Adding isShanghai boolean to core.IntrinsicGas method
  app/ante/evm/eth.go
  x/evm/keeper/fees.go
  x/evm/keeper/fees_test.go
  x/evm/keeper/gas.go
Labels: none

Adding block timestamp to config.Rules
  x/evm/keeper/state_transition.go
  x/evm/statedb/config.go
Labels: none

There is no more ForEachStorage func in go-ethereum. Removing this test
  x/evm/statedb/statedb_test.go
Labels: none

Removing EIP150Hash
  x/evm/types/chain_config.go
Labels: none

Replacing ShanghaiBlock -> ShanghaiTime and CancunBlock -> CancunTime
  app/ante/cosmos/setup_test.go
  app/ante/evm/setup_test.go
  app/ante/utils/setup_test.go
  client/docs/swagger-ui/swagger.yaml
  infrastructure/kubernetes/mezo-staging/mezo-genesis-config.yaml
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/setup_test.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/types/chain_config.go
  x/evm/types/chain_config_test.go
  x/evm/types/evm.pb.go
Labels: C:Proto, C:CLI

Move `EthereumSidecarClient` to the `x/bridge/abci` package
  x/bridge/abci/interfaces.go
  x/bridge/abci/vote_extension.go
Labels: none

Fix unit tests after moving `EthereumSidecarClient`
  x/bridge/abci/vote_extension_test.go
Labels: none

Changing btcd/btcec/v2 to use v2.3.2
  go.mod
  go.sum
Labels: none

Some smaller cleanups
  x/evm/genesis.go
  x/evm/keeper/keeper.go
  x/evm/statedb/statedb_test.go
  x/evm/types/tracer.go
Labels: none

Make `ExtendVote` returning error if sidecar returns more events than the limit
  x/bridge/abci/vote_extension.go
  x/bridge/abci/vote_extension_test.go
Labels: none

REJECT + error reason in x/bridge VerifyVoteExtension
  app/abci/vote_extension.go
  x/bridge/abci/vote_extension.go
  x/bridge/abci/vote_extension_test.go
Labels: none

Smaller cleanups and linting
  x/evm/keeper/state_transition.go
  x/evm/statedb/statedb.go
  x/evm/types/tracer.go
Labels: none

Additional validation of events in `ExtendVote` and `VerifyVoteExtension`
  x/bridge/abci/vote_extension.go
  x/bridge/types/assets_locked.go
Labels: none

Fixing a small batch of the tests
  x/evm/keeper/fees_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
Labels: none

Stub of the x/bridge `PrepareProposal` handler
  app/abci/vote_extension.go
  app/app.go
  x/bridge/abci/proposal.go
  x/bridge/types/interfaces.go
Labels: none

Validate vote extensions in `PrepareProposal` in the same way as in `VerifyVoteExtension`
  x/bridge/abci/proposal.go
  x/bridge/abci/vote_extension.go
Labels: none

Count votes for specific `AssetsLocked` events
  x/bridge/abci/proposal.go
Labels: none

Moar test fixes and adjustements
  x/evm/keeper/fees_test.go
  x/evm/statedb/statedb_test.go
  x/evm/types/chain_config.go
  x/evm/types/tracer_test.go
Labels: none

Determine canonical `AssetsLocked` events for the proposal
  x/bridge/abci/proposal.go
Labels: none

Use JSON log format for testnet nodes
  infrastructure/kubernetes/mezo-staging/mezo-node-config.yaml
Labels: none

Cleanup unused files
  .bencher/config.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
Labels: none

Satisfy markdownlint
  .github/pull_request_template.md
Labels: none

Validate sequence of canonical events against the current sequence tip
  app/app.go
  x/bridge/abci/proposal.go
Labels: none

Fix `proto/mezo/abci/v1/proposal.proto`
  app/abci/types/proposal.pb.go
  proto/mezo/abci/v1/proposal.proto
Labels: C:Proto

Injecting bridge-specific pseudo-tx into the proposal
  proto/mezo/bridge/v1/proposal.proto
  x/bridge/abci/proposal.go
  x/bridge/abci/types/proposal.pb.go
Labels: C:Proto

Add hardhat tasks for the btctoken precompile
  precompile/hardhat/tasks/btctoken.ts
Labels: none

initial connect integration
  app/abci/vote_extension.go
  app/app.go
  go.mod
  go.sum
Labels: none
