Repository mezo-org/mezod, changes with the labels that .github/labeler.yml gives for each.
All labels: C:Proto, C:Types, Type: Build, Type: CI, C:CLI, Type: Tests, Type: Docs, Type: ADR

.github/labeler.yml:

"C:Proto":
  - changed-files:
      - any-glob-to-any-file: "proto/**/*"
      - any-glob-to-any-file: "third_party/**/*"
      - any-glob-to-any-file: "/**/*.pb.go"
      - any-glob-to-any-file: "/**/*.pb.gw.go"
"C:Types":
  - changed-files:
      - any-glob-to-any-file: "types/**/*"
"Type: Build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "Dockerfile"
      - any-glob-to-any-file: "docker-compose.yml"
      - any-glob-to-any-file: "scripts/*"
      - any-glob-to-any-file: "config.yml"
"Type: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*.yml"
      - any-glob-to-any-file: "buf.yaml"
      - any-glob-to-any-file: ".mergify.yml"
      - any-glob-to-any-file: ".golangci.yml"
"C:CLI":
  - changed-files:
      - any-glob-to-any-file: "client/**/*"
      - any-glob-to-any-file: "x/*/client/**/*"
"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
      - any-glob-to-any-file: "/**/*/*_test.go"
"Type: Docs":
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"
      - any-glob-to-any-file: "x/*/spec/**/*"
"Type: ADR":
  - changed-files:
      - any-glob-to-any-file: "docs/architecture/**/*"

Removing redundant reference of the AddressStorageExtensionPrefix and docs cleanup
  precompile/btctoken/permit.go
  x/evm/keeper/statedb.go
  x/evm/types/key.go
Labels: none

Adjust testnet deployment artifacts
  Dockerfile
  infrastructure/kubernetes/mezo-staging/mezo-genesis-config.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-0.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-1.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-2.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-3.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-4.yaml
  infrastructure/kubernetes/mezo-staging/mezo-node-config.yaml
  scripts/public-testnet.sh
Labels: Type: Build

Protobuf for the app-level vote extension
  app/abci/types/vote_extension.pb.go
  proto/mezo/abci/v1/vote_extension.proto
Labels: C:Proto

Protobuf for the x/bridge vote extension
  proto/mezo/bridge/v1/vote_extension.proto
  x/bridge/abci/types/vote_extension.pb.go
Labels: C:Proto

Stub of the x/bridge vote extension handler
  x/bridge/abci/vote_extension.go
Labels: none

Stub of the app-level vote extension handler
  app/abci/vote_extension.go
  app/app.go
Labels: none

RFC-3: No precompiles, factory, and standard relayers
  docs/rfc/rfc-3.md
Labels: Type: Docs

Finalize the app-level vote extension handler
  app/abci/types/vote_extension.pb.go
  app/abci/vote_extension.go
  proto/mezo/abci/v1/vote_extension.proto
  x/bridge/abci/types/vote_extension.pb.go
Labels: C:Proto

Implement ExtendVote in the x/bridge vote extension handler
  proto/mezo/bridge/v1/vote_extension.proto
  x/bridge/abci/types/interfaces.go
  x/bridge/abci/types/vote_extension.pb.go
  x/bridge/abci/vote_extension.go
  x/bridge/keeper/assets_locked.go
  x/bridge/keeper/keeper.go
  x/bridge/types/keys.go
Labels: C:Proto

Reserve precompile addresses at genesis
  precompile/validatorpool/validatorpool.go
  x/evm/genesis.go
  x/evm/types/genesis.go
Labels: none

Move `AssetsLockedEvent` proto `x/bridge/types`
  proto/mezo/bridge/v1/bridge.proto
  proto/mezo/bridge/v1/vote_extension.proto
  x/bridge/abci/types/vote_extension.pb.go
  x/bridge/types/bridge.pb.go
Labels: C:Proto

Cleanup around the `x/bridge` module
  app/abci/vote_extension.go
  app/app.go
  proto/mezo/bridge/v1/bridge.proto
  proto/mezo/bridge/v1/genesis.proto
  proto/mezo/bridge/v1/query.proto
  proto/mezo/bridge/v1/tx.proto
  testutil/keeper/bridge.go
  x/bridge/abci/types/interfaces.go
  x/bridge/abci/vote_extension.go
  x/bridge/client/cli/query.go
  x/bridge/client/cli/tx.go
  x/bridge/genesis.go
  x/bridge/genesis_test.go
  x/bridge/keeper/assets_locked.go
  x/bridge/keeper/genesis.go
  x/bridge/keeper/genesis_test.go
  x/bridge/keeper/keeper.go
  x/bridge/keeper/keeper_test.go
  x/bridge/keeper/msg_server.go
  x/bridge/keeper/msg_server_test.go
  x/bridge/keeper/params.go
  x/bridge/keeper/params_test.go
  x/bridge/keeper/query_server.go
  x/bridge/keeper/query_server_test.go
  x/bridge/module.go
  x/bridge/types/bridge.pb.go
  x/bridge/types/codec.go
  x/bridge/types/errors.go
  x/bridge/types/genesis.go
  x/bridge/types/genesis.pb.go
  x/bridge/types/genesis_test.go
  x/bridge/types/params.go
  x/bridge/types/query.pb.go
  x/bridge/types/tx.pb.go
  x/bridge/types/types.go
Labels: C:Proto, C:CLI

Implement the remaining parts of the `x/bridge` vote extension handler
  app/abci/vote_extension.go
  x/bridge/abci/vote_extension.go
  x/bridge/types/assets_locked.go
Labels: none

Get precompile account info from precompile modules in `x/evm`
  precompile/btctoken/btctoken.go
  precompile/validatorpool/validatorpool.go
  x/evm/genesis.go
  x/evm/types/genesis.go
Labels: none

Attach a test Ethereum sidecar
  app/app.go
  ethereum/sidecar/test_sidecar.go
Labels: none

Enable vote extensions in genesis
  cmd/mezod/init.go
  cmd/mezod/testnet.go
  local_node.sh
  scripts/public-testnet.sh
Labels: Type: Build

Fix a panic thrown when sequence tip is nil
  x/bridge/keeper/assets_locked.go
Labels: none

Replacing big.Int with holiman/uint256 as used in latest go-ethereum
  app/ante/evm/eth.go
  app/ante/evm/eth_test.go
  app/ante/evm/sigs_test.go
  precompile/contract.go
  precompile/contract_test.go
  x/evm/genesis_test.go
  x/evm/keeper/fees_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/statedb/journal.go
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Labels: none

Add logging to the vote extension mechanism
  app/abci/vote_extension.go
  x/bridge/abci/vote_extension.go
Labels: none

Ensure processed assets locked events form a strictly increasing sequence
  x/bridge/abci/types/interfaces.go
  x/bridge/abci/vote_extension.go
  x/bridge/types/assets_locked.go
Labels: none

Satisfy linters
  app/abci/vote_extension.go
  cmd/mezod/testnet.go
  ethereum/sidecar/test_sidecar.go
  proto/buf.yaml
  proto/mezo/bridge/v1/vote_extension.proto
  x/bridge/abci/types/vote_extension.pb.go
  x/bridge/abci/vote_extension.go
  x/bridge/types/assets_locked.go
Labels: C:Proto

Remove obsolete `README.md` from `x/poa`
  x/poa/README.md
Labels: none

Update precompile logic
  app/app.go
  precompile/btctoken/btctoken.go
  precompile/contract.go
  precompile/contract_test.go
  precompile/validatorpool/validatorpool.go
  x/evm/genesis.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
Labels: none

Lock `golangci-lint` version in CI
  .github/workflows/lint.yml
Labels: Type: CI

Add empty line at the end of `test_sidecar.go`
  ethereum/sidecar/test_sidecar.go
Labels: none

Drafting resolutions for statedb changes upon recent go-ethereum upgrade
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
  x/evm/statedb/journal.go
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Labels: none

Fixing low hanging fruit methods by adding a tracing balance change reason
  app/ante/evm/eth_test.go
  x/evm/genesis_test.go
  x/evm/keeper/fees_test.go
  x/evm/keeper/statedb_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/statedb/statedb_test.go
Labels: none

Unit tests for app-level `ExtendVote` handler
  app/abci/vote_extension.go
  app/abci/vote_extension_test.go
Labels: none

Unit tests for `x/bridge` changes
  x/bridge/keeper/assets_locked_test.go
  x/bridge/types/assets_locked.go
  x/bridge/types/assets_locked_test.go
  x/bridge/types/genesis_test.go
Labels: none

Update `customPrecompiles` to a map of pointers
  app/app.go
  precompile/btctoken/btctoken.go
  precompile/validatorpool/validatorpool.go
  x/evm/genesis.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/types/genesis.go
Labels: none

Unit tests for app-level `VerifyVoteExtension` handler
  app/abci/vote_extension_test.go
Labels: none

Unit tests for `x/bridge` `ExtendVote` handler
  x/bridge/abci/vote_extension_test.go
  x/bridge/keeper/assets_locked.go
  x/bridge/keeper/assets_locked_test.go
  x/bridge/types/assets_locked_test.go
Labels: none

Unit tests for `x/bridge` `VerifyVoteExtension` handler
  x/bridge/abci/vote_extension_test.go
Labels: none

Bump `golangci-lint-action` to `v6.1.0`
  .github/workflows/lint.yml
Labels: Type: CI

Fixing tracer to comply with the go-ethereum latest version
  app/ante/evm/eth.go
  app/ante/evm/interfaces.go
  x/evm/keeper/config.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/tracer.go
  x/evm/types/tracer_test.go
Labels: none

Adding block time to MakeSigner method
  app/ante/evm/eth.go
  app/ante/evm/sigverify.go
  rpc/backend/sign_tx.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/tracer.go
Labels: none

Clarify range in the docstring of x/bridge `ExtendVoteHandler`
  x/bridge/abci/vote_extension.go
Labels: none

Add TODO about change of the log level
  app/abci/vote_extension.go
  x/bridge/abci/vote_extension.go
Labels: none

Upgrading go-ethereum to v1.14.8 with a custom precompile support
  go.mod
  go.sum
Labels: none

Mostly adjusting to core.Message types
  app/ante/evm/eth.go
  x/evm/keeper/gas.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/msg.go
  x/evm/types/tx_args.go
Labels: none
